
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 25px 0px; // top-bottom left-right
}

div {
  margin-bottom: 1rem;
}

mat-table {
  margin-top: 2rem;
}
