
<h1 class="free-text">
  Searching {{ speciesControl.value }} samples
</h1>

<div fxLayoutAlign="center center">
  <mat-button-toggle-group [formControl]="speciesControl" aria-label="Choose species">
    <mat-button-toggle value="Sheep">Sheep</mat-button-toggle>
    <mat-button-toggle value="Goat">Goat</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form
  [formGroup]="samplesForm"
  (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Original ID"
          formControlName="original_id">
          <mat-error *ngIf="samplesForm.controls['original_id'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Smarter ID"
          formControlName="smarter_id">
          <mat-error *ngIf="samplesForm.controls['smarter_id'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Dataset ID"
          formControlName="dataset">
          <mat-error *ngIf="samplesForm.controls['dataset'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-label="Breed"
          placeholder="Breed"
          [matAutocomplete]="auto_breed"
          formControlName="breed">
          <mat-autocomplete #auto_breed="matAutocomplete">
            <mat-option *ngFor="let option of filteredBreeds | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        <mat-error *ngIf="samplesForm.controls['breed'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-label="Breed Code"
          placeholder="Breed Code"
          [matAutocomplete]="auto_code"
          formControlName="breed_code">
          <mat-autocomplete #auto_code="matAutocomplete">
            <mat-option *ngFor="let option of filteredCodes | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        <mat-error *ngIf="samplesForm.controls['breed_code'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-label="Country"
          placeholder="Country"
          [matAutocomplete]="auto_country"
          formControlName="country">
          <mat-autocomplete #auto_country="matAutocomplete">
            <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        <mat-error *ngIf="samplesForm.controls['country'].errors?.['noWhiteSpaces']">No white spaces around fields are allowed!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="center center" fxLayoutGap="20px">
      <button
      [disabled]="isLoading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="samplesForm.invalid">
        <mat-icon>search</mat-icon> Search
      </button>

      <button
      [disabled]="isLoading"
      type="button"
      mat-raised-button
      color="accent"
      (click)="onReset()">
        <mat-icon>restart_alt</mat-icon> Reset
      </button>
    </div>

</form>

<app-progress-spinner
  [backdropEnabled]="true"
  [positionGloballyCenter]="true"
  [displayProgressSpinner]="isLoading">
</app-progress-spinner>

<div class="table-container">
  <mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="sortActive"
    [matSortDirection]="sortDirection">
      <ng-container matColumnDef="smarter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Smarter ID</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a routerLink="/samples/{{ speciesControl.value | lowercase }}/{{element._id.$oid}}">{{ element.smarter_id }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="original_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Original ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.original_id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="breed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Breed</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.breed }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="breed_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.breed_code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.country }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef>Species</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.species }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="resultsLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
