<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Your username"
        formControlName="username">
      <mat-hint>Please enter a valid user name</mat-hint>
      <mat-error>Invalid or missing user name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        placeholder="Your password"
        formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Please enter your password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
