<h1 class="free-text">About the SMARTER database</h1>

<div flex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90">
    <h2>The SMARTER project</h2>
    <p>
      Small ruminant populations play a fundamental role for the livelihood and
      socio-economic well-being of human settlements, especially in marginal areas
      of Europe. Under-utilized sheep and goat breeds may be highly valuable in
      increasing the profitability of small ruminant farming in such marginal areas.
      These breeds are valuable because they have peculiar and often atypical
      genetic make-up which make them a potentially extraordinary resource to
      be exploited for adaptation to (harsh) environments, resilience to farming
      conditions, resistance to biotic and abiotic stressors, and the production
      of quality of products of animal origin.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium
      vero dolore consequatur quaerat fuga debitis reiciendis, voluptates est?
      Corporis quia sequi tempore sint impedit reprehenderit deleniti quisquam omnis soluta.
    </p>
  </div>
</div>
