
<div fxLayoutAlign="center center">
  <mat-button-toggle-group [formControl]="speciesControl" aria-label="Choose species">
    <mat-button-toggle value="Sheep">Sheep</mat-button-toggle>
    <mat-button-toggle value="Goat">Goat</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" placeholder="Search breed by name" #searchBox>
  </mat-form-field>
</div>

<app-progress-spinner
  [backdropEnabled]="true"
  [positionGloballyCenter]="true"
  [displayProgressSpinner]="isLoading">
</app-progress-spinner>

<div class="table-container">
  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive
    matSortDirection="desc">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef>Species</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.species }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="n_individuals">
        <mat-header-cell *matHeaderCellDef mat-sort-header>N. of individuals</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.n_individuals }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="resultsLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
