<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm SideNav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a routerLink="/">
          <img class="smarter-logo" src="assets/Sm_4.png" alt="SMARTER">
        </a>
      </div>
      <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="flex-end">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <a routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <!-- every page will have sidenav available -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
