<div class="home" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="50%" fxFlexAlign="center">
    <img class="responsive" src="assets/Sm_compl_3.png" alt="SMAll Ruminants breeding for Efficiency and Resilience">
    <h1>Welcome to the SMARTER Database</h1>
    <p>
      The SMARTER database is a collection of data from small ruminant research projects.<br>
      The data is open and available to the community. See our
      <a routerLink="/about">about</a> page for more information.
    </p>
  </div>
</div>
