
.home {
  height: 100%;
  text-align: center;
}

.responsive {
  width: 85%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}

p {
  text-align: center;
  margin: 1rem;
  padding-top: 1rem;
}
